@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block !important;
  background-size: contain !important;
}
